<!DOCtYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
<title>爱进我家-蓝玫瑰公益行动</title>
<link href="http://7xvhpw.com1.z0.glb.clouddn.com/main2.css" rel="stylesheet" type="text/css">
<link href="http://7xvhpw.com1.z0.glb.clouddn.com/vmcss2_v3.css" rel="stylesheet" type="text/css">
</head>
<body>
<article class="breadcrumb " id="breadcrumb" style="top: 0px;">
  <header>
    <a id="btn-back" href="javascript:history.go(-1);"></a>
    <em id="pageTitle">{{art.name}}</em>
  </header>
  <section class="shortcut" id="shortcut-btn">
    <ul>
      <li id="btn-home">
        <a id="prdDeatilIndex" href="/auction/index" class="icon-home" title="首页"></a>
      </li>
    </ul>
  </section>
</article>
<div class="hr-150-1"></div>
<p><img src="{{art.cover}}" style="" title=""></p>
<section class="pro-property"> 
  <!-- 20140623-基本信息-名称价格-start -->
  <article class="pro-meta-area"  id="product-info">
    <h1 class="p-name" id="pro-name"><span>{{art.name}} </span></h1>
    <p class="p-promotion" >
      <span id="skuPromWord">作品编码：{{art.art_id}}</span>
    </p>
    <p class="p-promotion" >
      <span id="skuPromWord">作品规格：{%if art.measurement%}{{art.measurement}}{%else%}/{%endif%}</span>
    </p>
    <p class="p-price" >
      <i id="pro-deposit"><em>起拍价</em></i>
      <b>
        <em id="pro-price-type"></em>
        <em id="pro-price">￥{{art.price_auction}}</em>
      </b>
      <p class="p-promotion">
        <em>市场价</em>
        <em>￥{{art.price_market}}</em>
      </p>
    </p>
  </article>
  <input id="art_id" type="hidden" value="{{art.art_id}}" />
  <div class="pro-meta-sku accordion">
    <div class="pro-meta-sku-content accordion-content accordion-content-active" id="skuList">
      <dl>
        <dt>
          <label style="position:relative;">*姓名：</label>
        </dt>
        <dd>
          <label class="textbox" style="height:3.0em;width:20em;line-height:3.0em;border-radius:0.3em;">
            <input id="username" type="text" maxlength="20" />
          </label>
        </dd>
      </dl>
      <dl>
        <dt>
          <label style="position:relative;">*电话：</label>
        </dt>
        <dd>
          <label class="textbox" style="height:3.0em;width:20em;line-height:3.0em;border-radius:0.3em;">
          <input id="mobile" type="tel" maxlength="11" style="height:60%"/>
          </label>
        </dd>
      </dl>
      <dl>
        <dt>
          <label style="position:relative;">&nbsp;&nbsp;微信：</label>
        </dt>
        <dd>
          <label class="textbox" style="height:3.0em;width:20em;line-height:3.0em;border-radius:0.3em;">
            <input id="weixin" type="text" maxlength="20" />
          </label>
        </dd>
      </dl>
      <dl></dl>
    </div>
  </div>
</section>
<section id ="bottom-area" class="bottom-area">
  <p style="color:#e01d20;font-size:14px;font-weight:bold;"> 
    <span>企业捐拍可抵企业所得税</span>
  </p>
  <p class="touch"> 
    <span>拍卖主办方：爱进我家-蓝玫瑰公益行动</span>
  </p>
  <p class="copyright">
    <span>咨询热线：13436640733</span>
  </p>
</section>
<div style="height:80px"> </div>
<section class="pro-property-action-area" id="pro-operation">
  <article class="pro-property-action">
    <a id="sub_button" class="button-buy"><span>立即预定</span></a>
  </article>
</section>
<script src="http://114.215.168.51/static/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript"> 
$("#sub_button").bind('click', function(){
    var username = $("#username").val();
    var mobile = $("#mobile").val();
    var weixin = $("#weixin").val();
    var art_id = $("#art_id").val();

    console.log(username);
    console.log(mobile);
    console.log(weixin);
    if (username==undefined || username==null || username == ""){
      alert("请输入用户名");
      $("#username").focus(); 
      return;
    }
    if (mobile==undefined || username == null || mobile == ""){
      alert("请输入手机号"); 
      $("#mobile").focus(); 
      return;
    }
    var phone = /^1([38]\d|4[57]|5[0-35-9]|7[06-8]|8[89])\d{8}$/;
    if(!phone.test(mobile)){
      alert("请输入正确的手机号码");
      return;
    }
    $.post("/auction/pre_order", {
          "art_id": art_id,
          "name": username,
          "mobile": mobile,
          "weixin": weixin,
        }, function(res){
          if (res.status){
            alert("感谢您的预定,我们的客服稍后会联系您,祝您生活愉快");
          }else{
            alert("提交失败，请重试");
          }
        },"jsonp");
});
</script>
<script type="text/javascript">
  var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
  document.write(unescape("%3Cspan id='cnzz_stat_icon_1259661372'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1259661372' type='text/javascript'%3E%3C/script%3E"));
</script>
</body>
</html>

