<!DOCtYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
<title>爱进我家-蓝玫瑰公益行动</title>
<link href="http://7xvhpw.com1.z0.glb.clouddn.com/main2.css" rel="stylesheet" type="text/css">
<link href="http://7xvhpw.com1.z0.glb.clouddn.com/vmcss2_v3.css" rel="stylesheet" type="text/css">
</head>
<body>
<article class="breadcrumb " id="breadcrumb" style="top: 0px;">
  <header>
    <a id="btn-back" href="javascript:history.go(-1);"></a>
    <em id="pageTitle">{{author.name}}的作品</em>
  </header>
  <section class="shortcut" id="shortcut-btn">
    <ul>
      <li id="btn-home">
        <a id="prdDeatilIndex" href="/auction/index" class="icon-home" title="首页"></a>
      </li>
    </ul>
  </section>
</article>
<div class="hr-150-1"></div>
<section>
<p><img src="{{author.cover}}" style="width="100%" title=""></p>
<header class="h clearfix">
<h2 style="padding: 1.0em;"><span>{{author.name}}</span></h2>
<p style="padding: 0em 1.2em .8em 1.2em;"><span>{{author.desc}}</span></p>
{% if author.id == 3%}
  <p style="padding: 0em 1.2em .8em 1.2em;color:#e01d20"><span>备注：活动当天拍下的服装付款后请留下姓名和电话，可到王老师工作室量体定制手绘服装</span></p>
{%endif%}

</header>
</section>
<!-- 首页区域行-start -->
<section class="channel-floor channel-floor-honor channel-floor-list2">
  <header class="h clearfix">
    <h3 class="title"><span>预售作品</span></h3>
  </header>
  <div class="b">
    {%for art_list in list%}
    <ul>
      {%for art in art_list%}
      <li>
        {%if art%}
        <a href="/auction/detail/{{art.art_id}}">
          <p class="p-img"><img src="{{art.cover}}"></p>
          <p class="p-name">{{art.name}}</p>
          {%if art.measurement%}
            <p class="p-promotion"></p>
          {%endif%}
          <p class="p-price" >
            <i id="pro-deposit" style="background-color:#e01d20;padding:2px 2px;"><em style="color:#fff">起拍价</em></i>
            <b>
              <em id="pro-price-type"></em>
              <em id="pro-price" style="color:#333333">￥{{art.price_auction}}</em>
            </b>
          </p>
        </a>
        {%endif%}
      </li>
      {%endfor%}
    </ul>
    {%endfor%}
  </div>
</section>
<!-- 首页区域行-end -->

<section id ="bottom-area" class="bottom-area">
  <p style="color:#e01d20;font-size:14px;font-weight:bold;"> 
    <span>企业捐拍可抵企业所得税</span>
  </p>
  <p class="touch"> 
    <span>拍卖主办方：爱进我家-蓝玫瑰公益行动</span>
  </p>
  <p class="copyright">
    <span>咨询热线：13436640733</span>
  </p>
</section>
<script type="text/javascript">
  var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
  document.write(unescape("%3Cspan id='cnzz_stat_icon_1259661372'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1259661372' type='text/javascript'%3E%3C/script%3E"));
</script>
</body>
</html>

