<!DOCTYPE html>
<html>
<body>
Hello World!
{% autoescape off %}
!will no like you
{% endautoescape %}
My name is lining
{% for o in li_tuple %}
<tr class="{% cycle 'row1' 'row2' %}">
    {{ o }} 
    </tr>
{% endfor %}
</body>
</html>
