{%extends "manage/base.html"%}

{%block css_ext%}
<!-- DataTables CSS -->
<link href="http://114.215.168.51:8000/static/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet">
<!-- DataTables Responsive CSS -->
<link href="http://114.215.168.51:8000/static/bower_components/datatables-responsive/css/dataTables.responsive.css" rel="stylesheet">
{%endblock%}
{%block header_ext%}
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Assign List</h3>
    </div>
</div>
{%endblock%} 

{%block content_ext%}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                {{count}}件
            </div>
            <div class="panel-body">
                <div class="dataTable_wrapper">
                     <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th width="50%">名称</th>
                                <th>大类别</th>
                                <th>小类别</th>
                                <th>价格</th>
                                <th>operation</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for goods in goods_list%}
                            <tr>
                                <td>
                                    {{goods.id}}<br />
                                    <span class="label label-info">{{goods.t_id}}</span>
                                </td>
                                <td>
                                    <a href="{{goods.pic_url}}" target="_blank"><img src="{{goods.pic_url}}" width="42" height="42" /></a>&nbsp;
                                    <a href="https://detail.tmall.com/item.htm?id={{goods.t_id}}" target="_blank">{{goods.title}}</a>
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                            <font name="pcate_sel">
                                                {%if goods.cate_pid == 0%}
                                                请选择
                                                {%else%}
                                                {{goods.get_cate_pid_display}}
                                                {%endif%}
                                            </font>
                                            <i class="caret"></i>
                                        </button>
                                        <ul class="dropdown-menu pull-right" role="menu">
                                            {%for key, value in pcate_items%}
                                            <li><a href="javascript:void(0);" name="pcate_item" data-key="{{goods.id}}" data-val="{{key}}" data-name="{{value}}">{{value}}</a></li>
                                            {%endfor%} 
                                        </ul>
                                    </div>
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                            <font name="cate_sel">请选择</font>
                                            <i class="caret"></i>
                                        </button>
                                        <ul class="dropdown-menu pull-right" role="menu" name="cate_menu">
                                            {%for key, value in goods.get_cate_items%}
                                            <li><a href="javascript:void(0);" name="cate_item" data-key="{{goods.id}}" data-pval="{{goods.cate_pid}}" data-val="{{key}}">{{value}}</a></li>
                                            {%endfor%} 
                                        </ul>
                                    </div>
                                </td>
                                <td>
                                    {{goods.price_now}}
                                </td>
                                <td>
                                    <a href="/management/goods_edit/?gid={{goods.id}}" class="edit_box fancybox.iframe">编辑</a>&nbsp;
                                    <a href="javascript:void(0);" name="set_deleted" data-key="{{goods.id}}">删除</a>
                                </td>
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}

{%block script_ext%}
<script src="http://114.215.168.51:8000/static/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="http://114.215.168.51:8000/static/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
<script>

function bind_click(){
    $("a[name='pcate_item']").bind('click', function(){
        _this = $(this);
        var _parent = _this.parent().parent().parent();
        var _cate_sel = _parent.find("font[name='pcate_sel']");
        var _cate_menu = _parent.parent().parent().find("ul[name='cate_menu']");
        var pcate = _this.data('val');

        var pcate_name = _this.data('name');
        var gid = _this.data('key');
        console.log(pcate + "," + pcate_name+", "+gid);
        _cate_sel.text("...");
        $.post("/management/cate_list/", {
            "pcate": pcate,
        }, function(res){
            _cate_sel.text(pcate_name);
            _cate_menu.empty();
            var cate_list = res.cate_list
            var len = cate_list.length
            for(var i = 0; i < len; i++){
                var id = cate_list[i].id;
                var name = cate_list[i].name;
                var option = "<li><a href='javascript:void(0);' name='cate_item' data-key='" + gid + "' data-pval = '"+ pcate +"' data-val='"+id+"'>"+name+"</a></li>";
                console.log(option);
                _cate_menu.append(option);
            }
            bind_cate_item();
        },"jsonp");
    });

    $("a[name='set_deleted']").bind('click', function(){
        if (!confirm("确认要删除？")) {
            return;
        }
        _this = $(this);
        var goods_id = _this.data('key');
        _this.text("...");
        $.post("/management/goods_set_deleted/", {
                "goods_id": goods_id,
            }, function(res){
                if(res.status == false){
                    _this.text('failed');
                }else{
                    _this.text(res.result);
                }
            },"jsonp");
    });
}

function bind_cate_item(){
    $("a[name='cate_item']").bind('click', function(){
        _this = $(this);
        var _parent = _this.parent().parent().parent();
        var _cate_sel = _parent.find("font[name='cate_sel']");
        var goods_id = _this.data('key');
        var cate_id = _this.data('val');
        var cate_pid = _this.data('pval');
        console.log(goods_id+", "+cate_id);
        _cate_sel.text("...");
        $.post("/management/assign/set_cate/", {
                "goods_id": goods_id,
                "cate_id": cate_id,
                "cate_pid": cate_pid
            }, function(res){
                if(res.status == false){
                    _cate_sel.text('failed');
                }else{
                    _cate_sel.text(res.cate_sel);
                }
            },"jsonp");
    });
}

$(document).ready(function() {
    bind_click();
    bind_cate_item();
    $(".edit_box").fancybox({
        maxWidth: 800,
        maxHeight: 600,
        fitToView: false,
        width: '80%',
        height: '80%',
        autoSize: false,
        closeClick: false,
        openEffect: 'none',
        closeEffect: 'none'
    });
});
</script>
{%endblock%}  
