<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Wishing Admin</title>

    <!-- Bootstrap Core CSS -->
    <link href="http://114.215.168.51/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://114.215.168.51/static/bower_components/fancybox/jquery.fancybox.css?v=2.1.5" rel="stylesheet" type="text/css" media="screen" />

    <!-- MetisMenu CSS -->
    <link href="http://114.215.168.51/static/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="http://114.215.168.51/static/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="http://114.215.168.51/static/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {%block css_ext%}
    {%endblock%} 
</head>

<body>
    <div id="container">
        {%block container%}
        {%endblock%}
    </div>

    <!-- jQuery -->
    <script src="http://114.215.168.51/static/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="http://114.215.168.51/static/bower_components/fancybox/jquery.fancybox.js?v=2.1.5"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="http://114.215.168.51/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="http://114.215.168.51/static/bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="http://114.215.168.51/static/dist/js/sb-admin-2.js"></script>
    {%block script_ext%}
    {%endblock%}
</body>
</html>
