<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Wishing Admin</title>

    <!-- Bootstrap Core CSS -->
    <link href="http://114.215.168.51/static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://114.215.168.51/static/bower_components/fancybox/jquery.fancybox.css?v=2.1.5" rel="stylesheet" type="text/css" media="screen" />

    <!-- MetisMenu CSS -->
    <link href="http://114.215.168.51/static/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="http://114.215.168.51/static/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="http://114.215.168.51/static/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {%block css_ext%}
    {%endblock%} 
</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/management/index">Wishing Admin</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="/management/index"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-table fa-fw"></i> 已上架<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/management/goods/list/1">精美配饰</a>
                                </li>
                                <li>
                                    <a href="/management/goods/list/15">个性装饰</a>
                                </li>
                                <li>
                                    <a href="/management/goods/list/2">温暖家居</a>
                                </li>
                                <li>
                                    <a href="/management/goods/list/3">办公</a>
                                </li>
                                <li>
                                    <a href="/management/goods/list/4">数码</a>
                                </li>
                                <li>
                                    <a href="/management/goods/list/5">美食</a>
                                </li>
                                <li>
                                    <a href="/management/goods/list/6">洗护</a>
                                </li>
                                <li>
                                    <a href="/management/goods/list/7">彩妆</a>
                                </li>
                                <li>
                                    <a href="/management/goods/list/8">箱包</a>
                                </li>
                                <li>
                                    <a href="/management/goods/list/9">女装</a>
                                </li>
                                <li>
                                    <a href="/management/goods/list/10">女鞋</a>
                                </li>
                                <li>
                                    <a href="/management/goods/list/11">男装</a>
                                </li>
                                <li>
                                    <a href="/management/goods/list/12">男鞋</a>
                                </li>
                                <li>
                                    <a href="/management/goods/list/13">母婴</a>
                                </li>
                                <li>
                                    <a href="/management/goods/list/14">运动</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-table fa-fw"></i> 待转换<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/management/trans/list/1">精美配饰</a>
                                </li>
                                <li>
                                    <a href="/management/trans/list/15">个性装饰</a>
                                </li>
                                <li>
                                    <a href="/management/trans/list/2">温暖家居</a>
                                </li>
                                <li>
                                    <a href="/management/trans/list/3">办公</a>
                                </li>
                                <li>
                                    <a href="/management/trans/list/4">数码</a>
                                </li>
                                <li>
                                    <a href="/management/trans/list/5">美食</a>
                                </li>
                                <li>
                                    <a href="/management/trans/list/6">洗护</a>
                                </li>
                                <li>
                                    <a href="/management/trans/list/7">彩妆</a>
                                </li>
                                <li>
                                    <a href="/management/trans/list/8">箱包</a>
                                </li>
                                <li>
                                    <a href="/management/trans/list/9">女装</a>
                                </li>
                                <li>
                                    <a href="/management/trans/list/10">女鞋</a>
                                </li>
                                <li>
                                    <a href="/management/trans/list/11">男装</a>
                                </li>
                                <li>
                                    <a href="/management/trans/list/12">男鞋</a>
                                </li>
                                <li>
                                    <a href="/management/trans/list/13">母婴</a>
                                </li>
                                <li>
                                    <a href="/management/trans/list/14">运动</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-table fa-fw"></i> 待分配<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/management/assign/list">前10条</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            {%block header_ext%}
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Dashboard</h1>
                </div>
            </div>
            {%endblock%}  
            {%block content_ext%}
            {%endblock%}  
        </div>

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="http://114.215.168.51/static/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="http://114.215.168.51/static/bower_components/fancybox/jquery.fancybox.js?v=2.1.5"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="http://114.215.168.51/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="http://114.215.168.51/static/bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="http://114.215.168.51/static/dist/js/sb-admin-2.js"></script>
    {%block script_ext%}
    {%endblock%}  
</body>
</html>
