{%extends "manage/base_noframe.html"%}

{%block container%}
<div class="row">
    {%if message%}
    <div class="alert alert-success" style="padding:10px;margin:20px;">
        {{message}}
    </div>
    {%endif%}
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <form role="form" method="POST" action="">
                            <input name="gid" value="{{goods_obj.id}}" type="hidden">
                            <input name="cate_id" id="cate_id" value="{{goods_obj.cate_id}}" type="hidden">
                            <div class="form-group">
                                <label>名称</label>
                                <input class="form-control" name="title" type="text" value="{{goods_obj.title}}" placeholder="商品名称">
                            </div>
                            <div class="form-group">
                                <label>大类别</label>
                                <select class="form-control" name="pcate" id="pcate">
                                    <option value="0">请选择</option>
                                    {%for key, value in pcate_items%}
                                    <option value="{{key}}" {%if key == goods_obj.cate_pid%}selected{%endif%}>{{value}}</option>		
                                    {%endfor%}
                                </select>
                            </div>
                            <div class="form-group">
                                <label>小类别</label>
                                <select class="form-control" name="cate" id="cate">
                                    {% if cate_items %}
                                        {%for key, value in cate_items%}
                                            <option value="{{key}}" {%if key == goods_obj.cate_id%}selected{%endif%}>{{value}}</option>		
                                        {%endfor%}
                                    {% endif %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label>专题图片</label>
                                <input class="form-control" name="detail_pic" type="text" value="{{goods_obj.detail_pic}}" placeholder="图片链接">
                            </div>
                            <div class="form-group">
                                <label>专题描述</label>
                                <textarea class="form-control" name="detail" rows="3">{{goods_obj.detail}}</textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">确认修改</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}
{%block script_ext%}
<script>
$("#pcate").change(function(e){
    var pcate = $("#pcate")[0].value;
    var cate_sel = $("#cate_id").val();
    console.log(pcate);
    console.log(cate_sel);
    if (pcate == 0){
        $("#cate").empty();
        return;
    }
    $.post("/management/cate_list/", {
            "pcate": pcate,
        }, function(res){
            $("#cate").empty();
            $("#cate").append("<option value='0'>请选择</option>");
            var cate_list = res.cate_list
            var len = cate_list.length
            for(var i = 0; i < len; i++){
                var id = cate_list[i].id;
                var name = cate_list[i].name;
                var option = "<option value='"+id+"'";
                if (cate_sel == id){
                    option = option + " selected>";
                }else{
                    option = option + " >";
                }
                option = option+name+"</option>"
                console.log(option);
                $("#cate").append(option);
            }
        },"jsonp");
});
</script>
{%endblock%}
