{%extends "manage/base.html"%}

{%block css_ext%}
<!-- DataTables CSS -->
<link href="http://114.215.168.51/static/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet">
<!-- DataTables Responsive CSS -->
<link href="http://114.215.168.51/static/bower_components/datatables-responsive/css/dataTables.responsive.css" rel="stylesheet">
{%endblock%}
{%block header_ext%}
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">Goods List</h3>
    </div>
</div>
{%endblock%} 

{%block content_ext%}
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                {{count}}件
                <div class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            {{cate_sel}}
                            <i class="caret"></i>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li><a href="javascript:void(0);" name="cate_item" data-val="0">全部</a></li>
                            {%for key, value in cate_items%}
                            <li><a href="javascript:void(0);" name="cate_item" data-val="{{key}}">{{value}}</a></li>
                            {%endfor%}
                        </ul>
                    </div>
                </div>                                                                                                                                                                </li>
            </div>
            <div class="panel-body">
                <div class="dataTable_wrapper">
                     <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th width="50%">名称</th>
                                <th>小类别</th>
                                <th>价格</th>
                                <th>operation</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}

{%block script_ext%}
<script src="http://114.215.168.51/static/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="http://114.215.168.51/static/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
<script>
function url_append(url, p_name, p_val){
    if(url.indexOf("?") == -1){
        url = url + "?";
    }
    var re = new RegExp("&?" + p_name + "=(.[^&]*)", "g");
    url = url.replace(re, "");
    url = url + "&" + p_name + "=" + p_val;
    url = url.replace("?&", "?");
    return url;
} 

function bind_click(){
    $("a[name='cate_item']").bind('click', function(){
        var key = $(this).data('val');
        var _fullurl = window.location.href;
        _fullurl = url_append(_fullurl, "cid", key);
        window.location.href = _fullurl;
    });
}

function bind_item_click(){
    $("a[name='set_deleted']").bind('click', function(){
        if (!confirm("确认要删除？")) {
            return;
        }
        _this = $(this);
        var goods_id = _this.data('key');
        _this.text("...");
        $.post("/management/goods_set_deleted/", {
                "goods_id": goods_id,
            }, function(res){
                if(res.status == false){
                    _this.text('failed');
                }else{
                    _this.text(res.result);
                }
            },"jsonp");
    });
}

function bind_item_edit(){
    $(".edit_box").fancybox({
        maxWidth: 800,
        maxHeight: 600,
        fitToView: false,
        width: '80%',
        height: '80%',
        autoSize: false,
        closeClick: false,
        openEffect: 'none',
        closeEffect: 'none'
    });

}

$(document).ready(function() {
    bind_click();
    $('#dataTables-example').dataTable({
        "bJQueryUI": true,
        "bPaginate": true,
        "bFilter": false,
        "bLengthChange": false,
        "iDisplayLength": 20, 
        "bSort": false,
        "bInfo":false,
        "sPaginationType": "full_numbers",
        "bProcessing": false,
        "bServerSide": true,
        "bDestroy": true,
        "bSortCellsTop": true,
        "sAjaxSource": window.location.href,
        "aoColumns":[
            { "mData": function(e){
                    return e.id+'<br /><span class="label label-info">'+e.t_id+'</span>';
                }
            },
            { "mData": function(e){
                    return '<a href="'+e.pic_url+'" target="_blank"><img src='+e.pic_url+' width="42", height="42" /></a>&nbsp;'
                    +'<a href="https://detail.tmall.com/item.htm?id='+e.t_id + '" target="_blank" >'+e.title+'</a>';
                }
            },
            { "mData": "cate_id_dis" },
            { "mData": "price_now" },
            { "mData": function (e) {
                    var oper =  '<a href="/management/goods_edit/?gid='+e.id+'" class="edit_box fancybox.iframe">编辑</a>'+
                    '&nbsp;<a href="javascript:void(0);" name="set_deleted" data-key="'+e.id+'">删除</a>'
                    if(e.detail_url != ''){
                        oper = oper + '&nbsp;<a href="'+e.detail_url+'", target="_blank">详情</a>'
                    }
                    return oper;
                }
            }
        ],
        "oLanguage": {
            "sProcessing": "正在加载数据...",
            "sZeroRecords": "记录数为0",
            "oPaginate":{ 
                "sPrevious": "pre",
                "sNext": "next",
                "sFirst": "first",
                "sLast": "last"
            }
        },
        "fnServerData": function(sSource, aoData, fnCallback) {
            $.ajax({
                "type": 'get',
                "url": sSource,
                "dataType": "json",
                "data": {
                    aoData: JSON.stringify(aoData)
                },
                "success": function(resp) {
                    fnCallback(resp);
                    bind_item_click();
                    bind_item_edit();
                }
            });
        }
    });
});
</script>
{%endblock%}  
