{%extends "manage/base.html"%}

{%block header_ext%}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Dashboard</h1> 
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-9 text-center">
                        <div class="huge">{{count_onsale}}</div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <span class="pull-left">已上架</span>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-9 text-center">
                        <div class="huge">{{count_trans}}</div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <span class="pull-left">待转换</span>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{count_assign}}</div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <span class="pull-left">待分配</span>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-9 text-right">
                        <div class="huge">{{count_deleted}}</div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <span class="pull-left">已下架</span>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
{%endblock%} 
